extends ./paneleditor

block vars
	- var settings = { name: 'hierarchyManager', controller: 'HierarchyController', title: 'Hierarchy', icon: 'hierarchy', requiresSelection: false };

block content

	input#filter(type='search', placeholder='Search')

	#hierarchyDisplay

		input#makeNode(type='button', value='Three.js Node > VWF', scroll-fixed='top right', style='top: 0px; right: 0px;')

		ul: li
			tree-node(node-id='index-vwf', label='Scene')

