extends ./paneleditor

block vars
	- var settings = { name: 'hierarchyManager', controller: 'HierarchyController', title: 'Hierarchy', icon: 'hierarchy', requiresSelection: false };

block content

	input#filter(type='search', placeholder='Filter', ng-model='searchTerms')

	#hierarchyDisplay(tabindex='0', ng-keydown='handleKeyPress($event)')

		input#makeNode(type='button', ng-show='selectedThreeNode', ng-click='makeVWFNode()', value='Three.js > VWF', scroll-fixed='top right', style='top: 0px; right: 0px;')

		ul: li
			tree-node(node-id='index-vwf', label='Scene')


	#hierarchyNodeTemplate(ng-non-bindable, style='display: none;')

		span(ng-class='getIcon()', ng-click='toggleCollapse()')
		span.name(ng-click='vwfNode.threeId !== node.id ? select(node, $event) : null', ng-dblclick='focusNode(node.node)'
			ng-class='{"nonselectable": vwfNode.threeId === node.id, "selected": fields.selectedNodeIds.indexOf(node.id) > -1 || selectedThreeNode === node}'
		)
			{{label || node.name || node.id}}

		ul
			li(ng-repeat='child in node.children', ng-if='!isBound(child)')
				tree-node.collapsed(node-id='{{node.prototype !== "threejs_node" ? child : ""}}'
					three-id='{{node.prototype === "threejs_node" ? child : ""}}')

			li(ng-if='node.prototype !== "threejs_node" && threeMap[node.threeId] && threeMap[node.threeId].children.length > 0')
				tree-node.three.collapsed(three-id='{{node.threeId}}', label='unbound-nodes')

