extends ./paneleditor

block vars
	- var settings = { name: 'hierarchyManager', controller: 'HierarchyController', title: 'Hierarchy', icon: 'hierarchy', requiresSelection: false };

block content
	div That's a spicy meatball!
