/run.bat
/bin/*
/public/wesi/
*.swp
/node_modules/*
cleanup.bat
*.bak
/build/*
/data/*
/assets/*
startup.bat
config.json
.directory
*.sublime-workspace
*.crt
*.key
*.pfx
.idea
/public/contact/local/*
/public/adl/sandbox/marsgame/*
*.pem
*.orig
.sass-cache
configserver.json
/support/client/lib/enginebuild.js
